@import url(https://fonts.googleapis.com/css?family=Lato:300,400);
@import url(https://fonts.googleapis.com/css?family=Raleway:300);

body {
	font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 300;
	background-size: cover;
	background-attachment: fixed;
	background-image: url(../img/background.jpg);	

}

nav ul {
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
}

nav li {
	list-style-type: none;
	display: inline-block;
	margin-right: 1em;
}

nav a:link {
	color: #55E;
}

nav a:hover, a:focus {
	color: #00E;
}

a:link, a:visited {
	text-decoration: none;
	color: #0000AA;
}

a:hover, a:focus {
	color: #0000EE;
}


h1, h2, h3 {
	font-family: 'Raleway', 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: 300;
}

h1 {
	font-size: 300%;
	margin: 0;
}

h2, h3 {
	color: #505050;
}

h2 {
	font-size: 150%;
	margin: 0;
}

h3 {
	font-size: 125%;
}

main {
	background-image: url(../img/ricepaper_v3.png);
	opacity: 0.9;
}



#Header {
	padding: 1em;
	background-color: #FA5A0F;
	border-bottom: 5px;
	border-bottom-style: solid;
	border-bottom-color: #EA4A00;
	color: #FFFFFF;
}

#Header p {
	color: #EEEEEE;
	font-size: 120%;
	margin: 0;
}

#BasicInfo {
	padding: 1em;
}

#BasicInfo a {
	border-bottom: 0;
	border-top: 0;
}

#Menu {
	padding: 1em;
	background: rgba(207, 205, 140, 0.5);
}

#Menu dt {
	font-weight: 400;
}

#Menu dd {
	font-size: 80%;
	font-style: italic;
	margin-left: 1em;
	margin-bottom: 1em;
}

#About {
	padding: 1em;
}

footer {
	padding: 1em;
	background-color: #FC892F;
	border-top: 5px;
	border-top-style: solid;
	border-top-color: #EC791F;
	font-size: 80%;
	text-align: right;
}

@media screen and (max-width: 992px) {
	body {
		font-size: 16px;
		background-image: none;
	}

	.container-fluid {
		margin-top: 0;
		margin-bottom: 0;
	}

	#Header p{
		display: none;
	}

	main {
		margin: none;
	}

}

@media screen and (min-width: 992px) {

	nav ul{
	    position: absolute;
	    right: 10px;
	    top: 10px;
	}

	.container-fluid {
		margin-left: 30%;
		margin-right: 20px;
		margin-top: 20px;
		margin-bottom: 20px;
		padding: 0;
	}
}











